@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #e0e0e0;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
}

/* 自定义滚动条，增加科技感 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #00f3ff;
  border-radius: 4px;
}